body::before {
    content: "";
    position: fixed;      /* overlay entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so clicks pass through */
    background-image: url('texture.png'); /* your grainy noise image */
    background-repeat: repeat;
    opacity: 0.04;       /* subtle effect, tweak between 0.03-0.1 */
    z-index: -3;       /* make sure it’s on top of background but under content */
}




body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
	padding: none;
	margin: none;
	right: 0;
	border: none;

}
.navbar {
    position: fixed;
    bottom: 20px;
    left: 2.5%;
    width: 95%;
    background-color: var(--background-color-navbar);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000; /* keeps it above other elements */
    border-radius: 30px;
    backdrop-filter: blur(20px);
    height: 40px;
    align-items: center;
    border: 1px solid var(--border-color-2);
}

.navbar a {
    color: var(--white);
    text-decoration: none;
}

.card{
    background-color: var(--background-color-card);
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    margin: 20px;
    border: 1px solid var(--border-color);
}
.card h3{
    text-transform: uppercase;
}
.card p{
    color: var(--secondary-color);
}

.heading{
    position: fixed;
    backdrop-filter: blur(20px);
    padding: 15px;
    border-radius: 0px 0px 40px 0px;
    font-size: 25px;
    top: 0;
    margin: 0;
    left: 0;
    box-shadow:0 0 40px rgba(0, 0, 0, 0.151);
    border: 1px solid var(--border-color-2);
    background-color: var(--background-color-navbar);
    z-index: 1000;
    color: var(--white);
}

.logo{
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif; 
    font-size: 30px;
    
}

.link{
    font-size: 18px;
}

.create{
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 30px 30px 0px 0px;
    box-shadow:0px 0px 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;
    
    display: flex; gap: 20px;           /* space between elements */
    flex-wrap: wrap;      /* allows wrapping on smaller screens */
    align-items: center; 
    padding-left: 20px;
     overflow-y: auto;     
    box-sizing: border-box;
    padding-top: 80px;
}
.create h1{
    font-size: 25px;
}
.create p{
    margin-right: 20px;
}
.create_div{
    padding: 10px;
    border: 1px solid var(--border-color-2);
    width: 250pt;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
     background-color: var(--background-color-card);
     border-radius: 10px;
    box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.1);
    
}
.create input{
    margin: 10px;
    height: 20px;
}
.create select{
    margin: 10px;
    
}
.map{
    position: fixed;
    width: 100%;
    height: 52.5%;
    left: 0;
    top: 0;
    z-index: 1;
}

input{
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid var(--border-color-2);
    padding: 7px;
    background-color: var(--background-color-card);
    margin-right: 10px;
    color: var(--primary-color);
}

button{
    border-radius: 10px;
    background-color: var(--background-color-card);
    padding: 7px;
    border: 1px solid var(--border-color-2);
    font-size: 15px;
    color: var(--primary-color);
}

select{
    border-radius: 10px;
    height: 50px;
    border: 1px solid var(--border-color-2);
    padding: 10px;
    background-color: var(--background-color-card);
    color: var(--primary-color);
}
.submit{
    margin: 20px;
    background-color: var(--green);
    font-size: 20px;
    color: var(--text-color);
}

.logo_big{
        width: 247px;
        height: 57px;
        text-align: center;
        color: var(--text-color);
        font-size: 48px;
        font-family: Oswald;
        font-weight: 600;
        word-wrap: break-word;
        margin: 30px;
        margin-bottom: 60px;
}
.parent{
    display: flex;
    flex-direction: column; /* stack children vertically */
    align-items: center;    /* center children horizontally */
    width: 60%;
       
}
.parent p{
    margin: 5px;
    font-family: "Poppins", sans-serif;
}
.parent input{
    margin:5px;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
.parent button{
    width: 100%;
    font-family: "Poppins", sans-serif;
    margin: 0;
    border-radius: 20px;
    background-color: var(--text-color);
    color: var(--background-color);
    margin-top: 70px;
    transition:0.1s ease;
}
.parent button:hover{
    background-color: var(--green);
    color: var(--text-color);
    transition:0s;
}
.parent button:active{
    background-color: var(--secondary-color);
}
.parent p{
    margin-top: 20px;
}
.parent a{
    margin: 0px;
    color: var(--primary-color);
}
.warning_div{
    position: fixed;
    top: 0px;
    right: 0;
    background-color: var(--background-color-navbar);
    padding: 10px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    margin: 20px;
    border: 1px solid var(--border-color);
    z-index: 9999;
}